*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}
body{
  background-color: #081b29;
  position: relative;
}
:root{
  --primary-color: white;
}
.dark-theme{
  background-color: white;
  --primary-color: black;
}
.con1{
    width: 1380px;
    height: 3000px;
}

header{
position: fixed;
top: 0; right:0; left:0;
display: flex;
justify-content: space-between;
align-items: center;
background: none;
z-index: 100000;
padding: 1rem; 
font-size: 2rem;
text-decoration: none;
background-color: white;
}
header .logo{
padding: 0.2rem;
font-size: 2rem;
color: black;
font-weight: bolder;
text-decoration: none;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header .navbar a{ 
margin: 0 0.8rem;
font-size: 1.5rem;
color: black;
padding: 0.4rem;
text-decoration: none;
font-family: cursive;
}
header .navbar a:hover, header .fa-bars:hover{
padding: 1rem;
color: blue;
border-bottom: 0.1 solid blue;
}

header .fa-bars{
font-size: 3rem;
cursor: pointer;
display: none;
color: white;
} 
.image{
  position: relative;
  top: 150px;
  left: 850px;
} 
.image img:hover{
  padding: 1rem;
  border-left: 0.1 solid blue;
}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
  }
  .image img{
  content: '';
  
  background-image: conic-gradient(from var(--angle), #ff4545,#00ff99,#006aff,#ff0095,#ff4545);
  top:50%;
  left:50%;
  
  z-index: -1;
  padding: 9px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
  
  }
  .image {
  
  
  @keyframes spin{
  from{
   --angle: 0deg;
  }
  to{
   --angle:360deg;
  }
  } 
}
.home{
  position: absolute;
  top: 172px;
  width: 600px;
  padding: 10px;
  left: 60px;
  color: var(--primary-color);
  height: 300px;

}
.p{
  margin: 0;
  position: relative;
  top: 20px;
  font-weight: 700;
  font-family: cursive;
  font-size: 20px;

} 
.button{
  position: relative;
  top: 40px;
  left: 120px;
  
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.button input:hover{
transform: scale(1.5);
}
.btn{
  border-radius: 8px;
  padding: 10px;
  width: 120px;
  font-weight: bolder;
  background-color: #00abf0;

} 
.btn1{
  position: absolute;
  margin: 0px;
  left: 0;
  top: 0;
}
.home h1{
  width: 100%;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}
.home h3{
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.btn2{
  background: transparent;
  color: #00abf0;
}
.btn:hover{
  background-color: red;
  color: var(--primary-color);
}


.fa-brands{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid black;
  background-color: transparent;
  position: relative;
  top:85px;
  border-radius: 50%;
  color: #00abf0;
  margin: 20px;
}  
.fa-brands:hover{
  background-color: red;
  color: var(--primary-color);
}
.image{
  position: relative;
  top: 150px;
  left: 850px;
} 
.about{
 
  position: absolute;
  top:660px;
  width: 350px;
  height: 400px;
  left: 800px;
  margin: 35px;
}
.about h1{
  width: 100%;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--primary-color);
}
.about h3{
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.about p{
  
  
  margin: 0;
  position: relative;
  top: 20px;
  font-weight: 700;
  font-family: cursive;
  font-size: 16px;
  color: var(--primary-color);

} 
.abtbutton{
        color: #00abf0;
        background: transparent;
        border-radius: 10px;
        padding: 10px;
        width: 120px;
       
        
}
.abtbutton input{
  position: relative;
  right: 20px;
}
.abtbutton:hover{
  background-color: red;
  color: var(--primary-color);
}
.about span{
  color: pink;
}
.aboutimage{


  position: relative;
  top:230px;
  left: 300px;
  
}
.aboutimage img{
  filter: blur(0.005em);
}


.skill{

  text-align: center;
  position: relative;
  top:250px;
  
  height: 400px;
  
}
.skill h1{
  font-size: 56px;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: orangered;
}
.skill li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 35px;
  padding:  0 35px;
  font-size: 25px;
  font-weight: bolder;
  color: var(--primary-color);
}

.bar{
  border: 1px solid rgba(0,0,0,0.3);
  overflow: hidden;
  width: 200px;
  height: 35px;
  border-radius: 10px;
  position: relative;
  background-color: var(--primary-color);
}

#html{
  width: 200px;
  animation: html 0.2s infinite  ease-in-out 1s;
}
@keyframes html{
  0%{
    width: 0%;
    background-color: blue;
    
  }
  100%{
    width: 95%;
    background-color: blue;
    
  }
}

#python{
  width: 180px;
  animation: python 0.2s infinite ease-in-out 1s;
  
} 
@keyframes python{
  0%{
    width: 0%;
    background-color: rgb(138,123,156);
  }
  100%{
    width: 50%;
    background-color: rgb(138,123,156);
  }
} 
#java{
  width: 80%;
  animation: java 0.2s infinite ease-in-out 1s;
}
@keyframes java{
  0%{
    width: 0%;
    background-color: red;
  }
  100%{
    width: 80%;
    background-color: red;
  }
} 
#javascript{
  width: 60%;
  animation: javascript 0.2s infinite ease-in-out 1s;
}
@keyframes javascript{
0%{
  width: 0%;
  background-color: purple;
}
100%{
  width: 60%;
  background-color: purple;
}
}
#sql{
  width: 75%;
  animation: sql 0.2s infinite ease-in-out 1s;
}
@keyframes sql{
  0%{
    width: 0%;
    background-color: pink;
  }
  100%{
    width: 75%;
    background-color: pink;
  }
}
#react{
  width: 40%;
  animation: react 0.2s infinite ease-in-out 1s;
}
@keyframes react{
  0%{
    width: 0%;
    background-color: green;
  }
  100%{
    width: 40%;
    background-color: green ;
  }
}
#node{
  width: 30%;
  animation: node 0.2s infinite ease-in-out 1s;
}
@keyframes node{
  0%{
    width: 0%;
    background-color: yellow;
  }
  100%{
    width: 30%;
    background-color: yellow ;
  }
}
.services h1{
color: red;
position: relative;
top:450px;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.services span{
color: purple;
font-family: cursive;

}

.certificate{
position: relative;
top: 518px;
border: 1px solid black;
background-color:  #393832;
width: 430px;
height: 320px;
left:10px;
color: var(--primary-color);


}
.certificate .fa-brands {
text-align: center;
position: relative;
left: 155px;
top:5px;
background-color: var(--primary-color);
}
.certificate p{
font-size: 16px;
font-family: cursive;
font-weight: bold;
padding: 12px;
color: var(--primary-color);
}
.certificate input{
position: relative;
left: 155px;
padding: 12px;
}
.c2{
position: absolute;
top: 1790px;
border: 1px solid black;
background-color:  #393832;
width: 430px;
height: 320px;
left:470px;
color: var(--primary-color);

}
.c2 .fa-brands {
text-align: center;
position: relative;
left: 155px;
top:5px;
background-color: var(--primary-color);
}
.c2 p{
font-size: 16px;
font-family: cursive;
font-weight: bold;
padding: 12px;
color: var(--primary-color);
}
.c2 input{
position: relative;
left: 155px;
padding: 12px;
}

.c3{
position: absolute;
top: 1790px;
border: 1px solid black;
background-color: #393832;
width: 420px;
height: 320px;
left:920px;
color: var(--primary-color);
}
.c3 .fa-brands {
text-align: center;
position: relative;
left: 155px;
top:5px;
background-color: var(--primary-color);
}
.c3 p{
font-size: 16px;
font-family: cursive;
font-weight: bold;
padding: 12px;
color: var(--primary-color);
}
.c3 input{
position: relative;
left: 155px;
padding: 12px;
}
.c1 .fa-brands:hover{
background-color: red;
transform: scale(3); 
}
.c1 p:hover{
color: red;
transform: scale(2);
border: 1px solid black;
font-size: 6px;
background: var(--primary-color);
width: 100px;
animation: upward 30s infinite  linear;

}

@keyframes upward {
  100%{
        position: relative;
        top:450px;
        left:250px;
        width: 300px;
        transform: scale(5);
       
     } 
}
.certificate p:hover{
 position: absolute;
 left:100px;
 bottom:150px;
}

.c1 input{
background: transparent;
color: #00abf0;
border-radius: 8px;
background-color: #00abf0;

color: black;

}
.c1 input:hover{
color: var(--primary-color);
background-color: red;
}
@property --angle{
syntax: "<angle>";
initial-value: 0deg;
inherits: false;
}
.c1::after, .c1::before{
content: '';
position: absolute;
height: 100%;
width: 100%;
background-image: conic-gradient(from var(--angle), #ff4545,#00ff99,#006aff,#ff0095,#ff4545);
top:50%;
left:50%;
translate: -50% -50%;
z-index: -1;
padding: 3px;
border-radius: 10px;
animation: 3s spin linear infinite;

}
.c1::before{
filter: blur(1.5rem);
opacity: 0.5;
}
@keyframes spin{
from{
 --angle: 0deg;
}
to{
 --angle:360deg;
}
} 


.p1 h1{
text-align: center;
color: orange;
font-size: 36px;
font-weight: bold;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
position: relative;
top:560px;
}
.p1 span{
color: #00ff99;
}

.contacth1{
position: relative;
top:670px;

text-align: center;
}
.contacth1 h1{
font-size: 36px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: red;
}
.contacth1 span{
font-size: 36px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: orange;
}
.contact{
position: relative;
top:700px;

}
.bar3{
width: 500px;
height: 60px;
background: transparent;
position: relative;
left: 250px;
background-color: #393832;
border-radius: 8px;
border: 1px solid black;
color:blue;
}
.bar3 input{
background-color: #393832;
width:100%;
height:100%;
font-size: 36px;
color: var(--primary-color);
}

.bar4{
width: 500px;
height: 60px;
background: transparent;
position: relative;
left: 760px;
bottom: 60px;
background-color: #393832;
border-radius: 8px;
border: 1px solid black;
color:blue;
}
.bar4 input{
background-color: #393832;
width:100%;
height:100%;
font-size: 36px;
color: var(--primary-color);
}

.bar5{
width: 500px;
height: 60px;
background: transparent;
position: relative;
left: 250px;
bottom: 52px;
background-color: #393832;
border-radius: 8px;
border: 1px solid black;
color:blue;
}
.bar5 input{
background-color: #393832;
width:100%;
height:100%;
font-size: 36px;
color: var(--primary-color);
}
.bar6{
width: 500px;
height: 60px;
background: transparent;
position: relative;
left: 760px;
bottom: 112px;
background-color: #393832;
border-radius: 8px;
border: 1px solid black;
color:blue;
}
.bar6 input{
background-color: #393832;
width:100%;
height:100%;
font-size: 36px;
color: var(--primary-color);
}
.bar7{
width: 1010px;
height: 250px;
background: transparent;
position: relative;
left: 250px;
background-color: #393832;
border-radius: 8px;
border: 1px solid black;
color:blue;
bottom: 102px;
}
.bar7 input{
background-color: #393832;
width:100%;
height:100%;
font-size: 36px;
color:var(--primary-color);
}
.button4{
    position: relative;
    top: 620px;
    left:635px;
}
.button4 input{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    color: #00abf0;
    background-image: conic-gradient(from var(--angle), #ff4545,#00ff99,#006aff,#ff0095,#ff4545);
    animation: spin 3s infinite linear;
    
}

.button4 input{

@keyframes spin{
from{
 --angle: 0deg;
}
to{
 --angle:360deg;
}
} 
}

.button4 input:hover{
color: brown;
}
.footer{
position: relative;
top: 700px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

padding: 30px;
margin: 15px;

}
.footer h1{
font-size: 56px;
font-weight: bold;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: var(--primary-color);
}
.footer h2{
font-size: 36px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
color: var(--primary-color);
padding: 35px;

}
.icons1{
position: relative;
bottom:80px;
}
.icons1  .fa-brands:hover{
background-color: red;
transform: scale(2);
color: var(--primary-color);
}


.gallery .project .row{
border: 1px solid var(--primary-color);
position: relative;
top: 604px;
overflow: hidden;
}
.gallery .project{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
 gap: 1rem;
}

.project .row:hover img{
transition-duration: 1s;
transform: translateY(-100%)
}
.project .row img{
height: 100%;
width: 100%;
object-fit: cover;
}

.project .row:hover .content{
transition-duration: 1s;
transform: translateY(0);
}
.project .row .content{
position: absolute;
top:0; 
left:0;
text-align: center;
padding: 35px;
height: 100%;
width: 100%;
transform: translateY(100%);
background-color: black;


}
.project .row .content h3{
font-size: 2.5rem;
color: white;
margin-top: 15rem;
position: relative;
bottom: 280px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 700;
}
.project .row .content p{
font-size: 2rem;
color: orange;
padding: 1rem 0;
position: relative;
bottom: 220px;
font-family: cursive;
font-weight: 300;
}

.content input{
background: yellowgreen;
color: blue;
width: 120px;
height: 30px;
position: absolute;
top: 250px;
left:150px;
font-weight: bold;
border-radius: 10px;
}
.content input:hover{
color: var(--primary-color);
background-color: red;

}

/* media query */

@media (max-width: 992px) {
body{
  background-color: red;
}
  header {
     display: flex;

}
header .logo{
  font-size: 1.5rem;
  padding: 0.17rem;
}
header .navbar a{
  margin: 0 0.5rem;
  font-size: 1.2rem;
}
header .navbar a:hover, header .fa-bars:hover{
  padding: 0.7rem;
  color:  red;
  border-bottom: 0.08 solid blue;
  }
  .home{
    position: relative;
    left: 5px;
    padding: 10px;
    margin: 8px;
  }
  .image img{
    
    width: 220px; 
    height: 320px; 
  }
  .image{
       position: relative;
       left: 520px;
       top: 2px;
      
  } 
  .home h1{
    font-size: 46px;
  }
  .home p{
    width: 450px;
  }
  .home h3{
    font-size: 28px;
    font-weight: 650;
  }
  .fa-brands{
    padding: 10px;
    margin: 15px;
  }
  .aboutimage{
    position: absolute;
    left: 10px;
    top:600px;
  }
 
  .about h1{
    font-size:36px ;
    font-weight: 550;
    line-height: 0.9 ;
  }
  .about h3{
    font-size: 24px;
    font-weight: 550;
  }
  .about p{
    font-size: 18px;
    font-weight: 500;

  }
  .abtbutton{
    padding: 7px;
  }
  .about{
    position: absolute;
    top: 600px;
    left: 380px;
  }
  .skill li{
    position: relative;
    right: 260px;
    top: 50px;
  }
  .skill h1{
    font-size: 36px;
    font-weight: 600;
    position: relative;
    right: 320px;
  }
  .contact{
    position: relative;
    right: 150px;
  }
  .contact input{
    position: relative;
    right: 150px;
  }
  .skill li{
    font-size: 18px;
    font-weight: 600;
    margin: 10px 30px;
    padding: 0 25px;
  }
  .gallery .project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
    
   }
  .bar{
    width: 160px;
  }
  #html{
    width: 160px;
  }
  #python{
    width: 160px;
  }
  #java{
    width: 160px;
  }
  #javascript{
    width: 160px;
  }
  #react{
    width: 160px;
  }
  #sql{
    width: 160px;
  }
  #node{
    width: 160px;
  }
  .services h1{
    color: blue;
    font-size: 24px;
  }
  .services span{
    color: green;
    font-size: 24px;
  }
  .certificate p{
    font-size: 12px;
    padding: 8px;
  }
 .c2 p{
    font-size: 12px;
    padding: 8px;
 }
 .c3 p{
  font-size: 12px;
  padding: 8px;
 }
 .c3 input{
   padding: 8px;
 }
 .c1 .fa-brands:hover{
  transform: scale(2);
 }
 .c1 p:hover{
  font-size: 4px;
 }
 .p1 h1{
   font-size: 24px;
   font-weight: 600;
 }
 .bar3{
  width: 200px;
  height: 50px;
 }
 .bar3 input{
  font-size: 24px;
 }
 .bar4{
  width: 200px;
  height: 50px;
 }
 .bar4 input{
  font-size: 24px;
 }
 .bar5{
  width: 200px;
  height: 50px;
 }
 .bar5 input{
  font-size: 24px;
 }
 .bar6{
  width: 200px;
  height: 50px;
 }
 .bar6 input{
  font-size: 24px;
 }
 .bar7{
  width: 400px;
  height: 100px;
 }
 .bar7 input{
  font-size: 24px;
 }
.footer{
  padding: 20px;
  margin: 10px;
  text-align: center;
  position: relative;
  right: 200px;
}
.footer h1{
  font-size: 36px;
  font-weight: 700;
}
.footer h2{
  font-size: 24px;
  font-weight: 700;
}
.project .row .content h3{
  font-size: 2rem;
  font-weight: 500;
}
.project .row .content p{
  font-size: 1.5rem;
  font-weight: 600;
}
}
@media (max-width: 768px) {
  body{
    background-color: green;
  }
  
  header {
       display: flex;
  
  }
  header .logo{
    font-size: 1.2rem;
    padding: 0.14rem;
  }
  header .navbar a{
    margin: 0 0.3rem;
    font-size: 0.9rem;
  }
  header .navbar a:hover, header .fa-bars:hover{
    padding: 0.5rem;
    color:  red;
    border-bottom: 0.08 solid blue;
    }
    .home{
      position: relative;
      left: 5px;
      padding: 10px;
      margin: 8px;
    }
    .image img{
      
      width: 200px; 
      height: 280px; 
    }
    .image{
         position: relative;
         left: 420px;
         top: 1px;
        
    } 
    .home h1{
      font-size: 40px;
    }
    .home p{
      width: 400px;
    }
    .home h3{
      font-size: 22px;
      font-weight: 550;
    }
    .fa-brands{
      padding: 7px;
      margin: 8px;
    }
    .aboutimage{
      position: absolute;
      left: 10px;
      top:570px;
    }
   
    .about h1{
      font-size:36px ;
      font-weight: 550;
      line-height: 0.9 ;
    }
    .about h3{
      font-size: 24px;
      font-weight: 450;
    }
    .about p{
      font-size: 18px;
      font-weight: 400;
  
    }
    .abtbutton{
      padding: 7px;
    }
    .about{
      position: absolute;
      top: 600px;
      left: 380px;
    }
    .skill li{
      position: relative;
      right: 260px;
      top: 50px;
    }
    .skill h1{
      font-size: 36px;
      font-weight: 600;
      position: relative;
      right: 320px;
    }
    .contact{
      position: relative;
      right: 150px;
    }
    .contact input{
      position: relative;
      right: 150px;
    }
    .skill li{
      font-size: 14px;
      font-weight: 500;
      margin: 10px 30px;
      padding: 0 25px;
    }
    .gallery .project{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 300px;
      
     }
    .bar{
      width: 130px;
    }
    #html{
      width: 130px;
    }
    #python{
      width: 130px;
    }
    #java{
      width: 130px;
    }
    #javascript{
      width: 130px;
    }
    #react{
      width: 130px;
    }
    #sql{
      width: 130px;
    }
    #node{
      width: 130px;
    }
    .services h1{
      color: blue;
      font-size: 18px;
    }
    .services span{
      color: green;
      font-size: 18px;
    }
    .certificate p{
      font-size: 8px;
      padding: 4px;
    }
   .c2 p{
      font-size: 8px;
      padding: 4px;
   }
   .c3 p{
    font-size: 8px;
    padding: 4px;
   }
   .c3 input{
     padding: 6px;
   }
   .c1 .fa-brands:hover{
    transform: scale(2);
   }
   .c1 p:hover{
    font-size: 4px;
   }
   .p1 h1{
     font-size: 24px;
     font-weight: 600;
   }
   .bar3{
    width: 200px;
    height: 50px;
   }
   .bar3 input{
    font-size: 24px;
   }
   .bar4{
    width: 200px;
    height: 50px;
   }
   .bar4 input{
    font-size: 24px;
   }
   .bar5{
    width: 200px;
    height: 50px;
   }
   .bar5 input{
    font-size: 24px;
   }
   .bar6{
    width: 200px;
    height: 50px;
   }
   .bar6 input{
    font-size: 24px;
   }
   .bar7{
    width: 400px;
    height: 100px;
   }
   .bar7 input{
    font-size: 24px;
   }
  .footer{
    padding: 15px;
    margin: 5px;
    text-align: center;
    position: relative;
    right: 200px;
  }
  .footer h1{
    font-size: 26px;
    font-weight: 700;
  }
  .footer h2{
    font-size: 18px;
    font-weight: 700;
  }
  .project .row .content h3{
    font-size: 1.5rem;
    font-weight: 500;
  }
  .project .row .content p{
    font-size: 1.2rem;
    font-weight: 600;
  }
  }